/* Variáveis */
:root {
    --navbar-hover-bg: #007bff;
    --dropdown-hover-bg: #0056b3;
    --header-bg: rgb(202, 40, 40);
}

/* Navbar */
.navbar-nav .nav-link.active {
    color: #fff;
}

.nav-link, .dropdown-item {
    text-align: center;
}

.nav-link {
    transition: background-color 1s, color 1s; /* Transição suave */
}

.nav-link:hover {
    background-color: var(--navbar-hover-bg); /* Cor de fundo ao passar o mouse */
    color: white; /* Cor do texto ao passar o mouse */
}

/* Dropdown */
.dropdown-toggle::after {
    display: none; /* Oculta a seta padrão do Bootstrap */
}

.dropdown-menu .dropdown-item:hover {
    background-color: var(--dropdown-hover-bg); /* Cor de fundo do submenu ao passar o mouse */
    color: white; /* Cor do texto do submenu ao passar o mouse */
}

/* Para telas grandes, mostrar o submenu ao passar o mouse */
@media (min-width: 992px) {
    .nav-item.dropdown:hover .dropdown-menu {
        display: block;
    }
}

/* Header */
header {
    background-color: var(--header-bg);
}

/* Seções */
section {
    height: 70vh;
    background-color: #ccc;
    padding-top: 80px;
}

/* Carrossel */
.carousel-inner {
    height: 500px; /* Defina a altura que desejar */
}

.carousel-item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.carousel-indicators li{
    list-style: none;
}
